# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output
dist/
build/
*.zip

# AWS Lambda artifacts
.aws-sam/
.lambda/
src/lambda/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db